<ul class="nav {{prefix}}_menu">
    {% for item in items %}
        <li class="item_line_menu_{{item.alias}}">
            <a href="{{ item.link }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>