<ul class="nav nav-pills nav-stacked" id="sidebar-nav">
    {% for item in items %}
        <li>
            <a href="{{ item.link }}"> 
                {{ item.title}}
            </a>
        </li>
    {% endfor %}
</ul>
