<ul class="record_actions nav nav-tabs nav-stacked">
    <li>
        <a href="{{ path('admin_price_new') }}">
            <i class="icon-plus"></i> {% trans from "admin_price" %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>