{% extends '::_adminContainer.html.twig' %}
            
{% block title %}{% trans from "admin_price"%}Price creation{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin_price"%}Price creation{% endtrans %}{% endblock %}

{% block content %}
    <form action="{{ path('admin_price_create') }}" method="post" {{ form_enctype(form) }} class="main_form">
         {{ form_widget(form) }} 
    </form>
{% endblock %}

{% block sidebar %}
    {% include "NticBundle:Price:_newFormActions.html.twig" %}
{% endblock %}
