<div class="clear"></div>
<div class="navbar">
    <ul class="nav">
        <li class="separator">&nbsp;</li>
        {% for item in items %}
            
            {% set class = '' %}
            {% if app.request.requesturi == item.link %}
                {% set class = ' active' %}
            {% endif %}
            
            <li class="item{{class}}">
                <a href="{{ item.link }}">{{ item.title }}</a>
            </li>
            {% if loop.length != loop.index %}
            <li class="separator">&nbsp;</li>
            {% endif %}
        {% endfor %}
        <li class="separator">&nbsp;</li>       
    </ul>
    <ul class="nav pull-right" id="button_journey">
        <li>
            <a href="#" role="button" data-toggle="modal" class="main_button">{% trans from 'content'%}CHOOSE A JOURNEY{% endtrans %}</a>
        </li>
        <li id="checkbox_for_children">
            <label>Для детей <input type="checkbox" /></label>
        </li>
    </ul>
</div>
