/nbproject
/web/bundles/
/web/uploads
/app/bootstrap*
/app/cache/*
/app/logs/*
/logs
/vendor/
/app/config/parameters.yml
/src/NNWelcome/CatalogBundle
/src/NNWelcome/FileCategoryBundle
/src/NNWelcome/ImageGalleryBundle
/src/NNWelcome/LoginBundle
/src/NNWelcome/MenuBundle
/src/NNWelcome/NewsBundle
/src/NNWelcome/PageBundle
/src/NNWelcome/WebItemBundle
/src/NNWelcome/ProjectBundle
/src/NNWelcome/CallbackBundle
/src/NNWelcome/LayoutBundle