/nbproject
/web/bundles/
/web/uploads
/app/bootstrap*
/app/cache/*
/app/logs/*
/logs
/vendor/
/app/config/parameters.yml
/src/Wifinder/CatalogBundle
/src/Wifinder/FileCategoryBundle
/src/Wifinder/ImageGalleryBundle
/src/Wifinder/LoginBundle
/src/Wifinder/MenuBundle
/src/Wifinder/NewsBundle
/src/Wifinder/PageBundle
/src/Wifinder/WebItemBundle
/src/Wifinder/ProjectBundle
/src/Wifinder/CallbackBundle
/src/Wifinder/LayoutBundle