<ul class="nav nav-tabs nav-stacked">
    <li>
        <a href="#filterProjectModal" role="button" data-toggle="modal">
            <i class="icon-filter"></i> {% trans from "admin_location" %}Filter{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_city_new') }}">
            <i class="icon-plus"></i> {% trans from "admin_location" %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
