{% extends '::_adminContainer.html.twig' %}

{% block title %}{% trans from "admin_location" %}Area list{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin_location" %}Area list{% endtrans %}{% endblock %}

{% block content %}
    <table class="records_list table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans from "admin_location" %}Title{% endtrans %}</th>
                <th>{% trans from "admin_location" %}Is active?{% endtrans %}</th>
                <th>{% trans from "admin_location" %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>
                    {% include "LocationBundle:Area:_labelActive.html.twig" with {'entity':entity} %}
                </td>
                <td>
                    {% include "LocationBundle:Area:_listItemActions.html.twig" with {'entity' : entity, 'delete_form' : delete_form}%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    {% include "LocationBundle:Area:_pagination.html.twig" %}
    {% include "LocationBundle:Area:_filterForm.html.twig" %}
{% endblock %}

{% block sidebar %}
    {% include "LocationBundle:Area:_listActions.html.twig" %}
{% endblock %}