body{
    background: url('../images/background.jpg') center no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 75% Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    color: #000000;
    min-width: 760px;
}
#main_container{
    width: 1000px;
    margin: 0 auto;
}
#header{
    height: 140px;
    width: 100%;
    background: #efefef;
}
#logotype_block{
    background: url(../images/logotype_bg.jpg) top left no-repeat;
    width: 250px;
    height: 140px;
    float: left;
}
#top_menu_block{
    float: left;
    width: 750px;
    height: 140px;
}
#info_block{
    height: 45px;
}
#info{
    width: 500px;
    height: 100%;
    float: left;
    background: #a8a5a8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#search_block{
    width: 250px;
    padding-top: 8px;
    float: left;
}
#search_block form{
    margin: 0;
}
#search_block input[type=text]{
    margin: 0;
    background: url(../images/search.png) 194px center no-repeat #fff
}
.phone{
    font-size: 20px;
    color: #a8a5a8;
    padding-left: 29px;
}
#site_name{
    padding: 40px 0 0 70px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}
#site_name a{
    color: #000;
    text-decoration: none;
}
.phone span{
    font-size: 14px;
}
.clear{
    width: 100%;
    clear: both;
}

/* menu */
#top_menu_block .navbar{
    padding-top: 20px
}
#top_menu_block  .navbar .nav {
    margin: 0;
}
#top_menu_block .navbar .nav > li{
    line-height: 50px
}
#top_menu_block .navbar .nav > li.item{
    padding-right: 8px;
}
#top_menu_block .navbar .nav > li.item a{
    padding: 10px 23px;
}
#top_menu_block .navbar .nav > li.separator{
    border-left: groove #fff 3px;
    padding: 10px 2px;
}
#top_menu_block #button_journey{
    width: 232px;
    margin-top: 10px;
} 
#top_menu_block #button_journey{
    background: url(../images/matrioshka.png) 200px 15px no-repeat;
}
#top_menu_block #button_journey li{
    width: 190px;
    text-align: center;
}
#top_menu_block #button_journey li a.main_button{
    line-height: 1;
    padding: 10px 10px;
    border-radius: 3px;
    display: block;
    color: #fff;
    text-shadow: none;
    background: #ffac00; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNjEzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffac00 0%, #e61300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffac00), color-stop(100%,#e61300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffac00 0%,#e61300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffac00 0%,#e61300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffac00 0%,#e61300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffac00 0%,#e61300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac00', endColorstr='#e61300',GradientType=0 ); /* IE6-8 */
}
#top_menu_block #button_journey li a.main_button:hover{
    text-shadow: 0 0 5px #fff;
}
#top_menu_block #button_journey #checkbox_for_children{
    text-align: right;
}
#top_menu_block #button_journey #checkbox_for_children input{
    margin: 0;
    padding: 0;
}
.breadcrumb {
    background: none;
    text-align: left;
}
.breadcrumb a{
    color: #fff;
    text-shadow: none;
}
.breadcrumb a:hover{
    text-shadow: 0 0 3px #fff;
}
.breadcrumb > .active {
    color: #fff;
    text-shadow: none;
}
/*content*/
#main_content{
    background: #fff;
    border-radius: 10px;
}
#footer{
    background: #9b9b9c;
}
#spetion_projects{
    margin-top: 20px;
    background: #fdfdfd;
}
#spetion_projects h2{
    width: 150px;
    float: left;
    font-size: 22px;
    text-align: left;
    line-height: 1;
    color: #7e7e7e;
    font-weight: 100;
}
#spetion_projects .projects{
    float: right;
    width: 813px
}
#spetion_projects .projects .box{
    width: 260px;
    float: left;
}
#spetion_projects .projects .container_spetion_project_img{
    float: left;
}
#spetion_projects .projects .container_spetion_project_text{
    float: left;
    width: 188px;
    text-align: left;
    text-justify: inherit;
}
#spetion_projects .projects .container_spetion_project_text h3{
    font-size: 16px;
    line-height: 1;
}
#spetion_projects .projects .container_spetion_project_text p{
    color: #7e7e7e;
}
#block_homepage_news{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    text-align: left;
}
#block_homepage_news h3{
    line-height: 1;
    font-size: 14px;
    color: #ff742a;
    font-weight: 100;
}
#block_homepage_news h2{
    font-size: 22px;
    text-align: left;
    line-height: 1;
    color: #7e7e7e;
    font-weight: 100;
}
#homepage_gallery{
    margin-top: 20px;
}