<div id="box1">
    <img src="images/icon_gray.png" alt="" id="logotype"/>
</div>
<div id="box2">
    <form action="" mthod="post" id="subscribe">
        <label for="">{% trans from 'content'%}SUBSCRIBE TO NEWS{% endtrans %}</label>
        <input class="align_right" type="text" placeholder="{% trans from 'content'%}E-mail address{% endtrans %}"/>
    </form>
</div>
{% render "FrontendContentBundle:WebItem:renderItem" with {"alias" : "footer"} %}
<div class="clear"></div>