<form action="{{ path('frontend_search_catalog') }}" method="post" {{ form_enctype(form) }}>
    {{form_widget(form.text, { 'attr': {'id': 'search_field', 'placeholder':'Поиск на сайте'}})}}
    {{form_widget(form._token)}}
</form>
